<!DOCTYPE html>
<html lang="en">
    <head>
        <title>adam optimizer - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
        <script src="/public/libs/plotly.min.js"></script>
        <script src="/public/scripts/surfaceplot.js"></script>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" id="navhome"  onclick="window.location='/'"      ><h1>home</h1></button>
            <button class="navelement" id="navword1" onclick="window.location='/public/views/w2v1.html'" ><h1>word2vec - learning</h1></button>
            <button class="navelement" id="navword2" onclick="window.location='/public/views/w2v2.html'" ><h1>word2vec - applications</h1></button>
            <button class="navelement" id="navpara1" onclick="window.location='/public/views/p2v1.html'" ><h1>para2vec - learning</h1></button>
            <button class="navelement" id="navpara2" onclick="window.location='/public/views/p2v2.html'" ><h1>para2vec - applications</h1></button>
            <button class="navelement" id="navadam"  onclick="window.location='/public/views/adam.html'" ><h1>adam optimizer</h1></button>
        </div>
        <div id="restofpage">

            <div class="page-title">Adam optimizer overview page</div>

            <button id="navaadam"  onclick="window.location='/public/views/adamstep.html'" >
                <h1>Adam - Step by Step</h1>
            </button>

            <h2 style="padding: 2%">TODO: Adam Overview + Diagram</h2>

            <div style="height:3vh;"></div>

            <h2 style="padding: 2%">Demo: points moving on random surface with Plotly:</h2>

            <div class="wrapper">
                <div id="chart"></div>

                <button id="play-button">Play</button>
                <button id="stop-button">Stop</button>

                <script>

                    Plotly.newPlot('chart', getNewData(), getScaleLayout());

                    var originalData = [getSurface()];
                    var originalLayout = [getScaleLayout()];

                    var frames = [
                        {data: originalData.concat([{x: [1], y: [2], z: [1.3]}]), layout: originalLayout.concat([{title: "Frame 1"}])},
                        {data: originalData.concat([{x: [2], y: [3], z: [1.1]}]), layout: originalLayout.concat([{title: "Frame 2"}])}
                    ];

                    document.getElementById("play-button").onclick = function() {
                        var i = 0;
                        function animate() {
                            Plotly.animate('chart', frames[i], {
                                transition: {
                                    duration: 500,
                                    easing: 'cubic-in-out'
                                },
                                frame: {
                                    duration: 500
                                }
                                });
                                i = (i + 1) % frames.length;
                            }
                        animate();
                        animationInterval = setInterval(animate, 500);
                        Plotly.relayout('chart', {dragmode: 'turntable'});
                    };

                    document.getElementById("stop-button").onclick = function() {
                        clearInterval(animationInterval);
                    };

                </script>
            </div>

            <h2 style="padding: 2%">TODO - integrate the real loss data to plot</h2>

        </div>
        <script src="../scripts.js"></script>
    </body>
</html>