<!DOCTYPE html>
<html lang="en">
    <head>
        <title>para2vec learning - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" id="navhome"  onclick="window.location='/'"      ><h1>home</h1></button>
            <button class="navelement" id="navword1" onclick="window.location='/public/views/w2v1.html'" ><h1>word2vec - learning</h1></button>
            <button class="navelement" id="navword2" onclick="window.location='/public/views/w2v2.html'" ><h1>word2vec - applications</h1></button>
            <button class="navelement" id="navpara1" onclick="window.location='/public/views/p2v1.html'" ><h1>para2vec - learning</h1></button>
            <button class="navelement" id="navpara2" onclick="window.location='/public/views/p2v2.html'" ><h1>para2vec - applications</h1></button>
            <button class="navelement" id="navadam"  onclick="window.location='/public/views/adam.html'" ><h1>adam optimizer</h1></button>
        </div>
        <div id="restofpage">
            <div style="height:3vh;"></div>
            <h2>para2vec - learning!</h2>
            <div style="height:10vh;"></div>
            <h2>... someday</h2>
        </div>
        <script src="../scripts.js"></script>
    </body>
</html>