<!DOCTYPE html>
<html lang="en">
    <head>
        <title>para2vec applications - visNLP</title>
        <link rel="stylesheet" href="./style.css"/>
        <script src="./scripts.js"></script>
    </head>
    <body>
        <div id="navbar">
            <div class="navelement" id="navhome" ><a href="/"    >home</a></div>
            <div class="navelement" id="navword1"><a href="/w2v1">word2vec - learning</a></div>
            <div class="navelement" id="navword2"><a href="/w2v2">word2vec - applications</a></div>
            <div class="navelement" id="navpara1"><a href="/p2v1">para2vec - learning</a></div>
            <div class="navelement" id="navpara2"><a href="/p2v2">para2vec - applications</a></div>
            <div class="navelement" id="navadam" ><a href="/adam">adam optimizer</a></div>
        </div>
        <div id="restofpage">
            <h2>para2vec - applications!</h2>
        </div>
    </body>
</html>