<!DOCTYPE html>
<html lang="en">
    <head>
        <title>para2vec learning - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" id="homenav" onclick="window.location='/'">
              <img src="assets/wpi_logo_transparent_white.png" alt="wpi logo2" class="nav-button-icon">
              <h1>visNLP 2.0 Home</h1>
            </button>
            <button class="navelement"        onclick="window.location='/w2v'"       ><h1>Word2Vec</h1></button>
            <button class="navelement"        onclick="window.location='/senback'"   ><h1>Sen2Vec</h1></button>
            <button class="navelement-curr"   onclick="window.location='/paraback'"  ><h1>Para2Vec</h1></button>
            <button class="navelement"        onclick="window.location='/adam'"      ><h1>Adam Optimizer</h1></button>
            <button class="navelement"        onclick="window.location='/songback'"  ><h1>Songs Recs App</h1></button>
            <button class="navelement"        onclick="window.location='/newsback'"  ><h1>Fake News App</h1></button>
        </div>
        <div id="restofpage_NSB">
            <div style="height:3vh;"></div>
            <h2>para2vec!</h2>
            <div style="height:10vh;"></div>
            <h2>... someday</h2>
        </div>
        <script src="../scripts.js"></script>
    </body>
</html>