<!DOCTYPE html>
<html lang="en">
    <head>
        <title>para2vec learning - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" onclick="window.location='/'"     ><h1>Home</h1></button>
            <button class="navelement" onclick="window.location='/intro'"><h1>NLP Basics</h1></button>
            <button class="navelement" onclick="window.location='/w2v'"  ><h1>Word2Vec</h1></button>
            <button class="navelement" onclick="window.location='/s2v'"  ><h1>Sen2Vec</h1></button>
            <button class="navelement" onclick="window.location='/p2v'"  ><h1>Para2Vec</h1></button>
            <button class="navelement" onclick="window.location='/adam'" ><h1>Adam Optimizer</h1></button>
            <button class="navelement" onclick="window.location='/song'" ><h1>Songs App</h1></button>
            <button class="navelement" onclick="window.location='/news'" ><h1>Fake News App</h1></button>
        </div>
        <div id="restofpage_NSB">
            <div style="height:3vh;"></div>
            <h2>sen2vec!</h2>
            <div style="height:10vh;"></div>
            <h2>... someday</h2>
        </div>
        <script src="../scripts.js"></script>
    </body>
</html>