<!DOCTYPE html>
<html lang="en">
    <head>
        <title>para2vec learning - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" onclick="window.location='/'"     ><h1>home</h1></button>
            <button class="navelement" onclick="window.location='/intro'"><h1>overview</h1></button>
            <button class="navelement" onclick="window.location='/w2v'"  ><h1>word2vec</h1></button>
            <button class="navelement" onclick="window.location='/s2v'"  ><h1>sen2vec</h1></button>
            <button class="navelement" onclick="window.location='/p2v'"  ><h1>para2vec</h1></button>
            <button class="navelement" onclick="window.location='/song'" ><h1>song2vec</h1></button>
            <button class="navelement" onclick="window.location='/news'" ><h1>news2vec</h1></button>
            <button class="navelement" onclick="window.location='/adam'" ><h1>adam optimizer</h1></button>
        </div>
        <div id="restofpage">
            <div style="height:3vh;"></div>
            <h2>sen2vec!</h2>
            <div style="height:10vh;"></div>
            <h2>... someday</h2>
        </div>
        <script src="../scripts.js"></script>
    </body>
</html>