<!DOCTYPE html>
<html lang="en">
    <head>
        <title>word2vec learning - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" id="navhome" ><h1>home</h1></button>
            <button class="navelement" id="navword1"><h1>word2vec - learning</h1></button>
            <button class="navelement" id="navword2"><h1>word2vec - applications</h1></button>
            <button class="navelement" id="navpara1"><h1>para2vec - learning</h1></button>
            <button class="navelement" id="navpara2"><h1>para2vec - applications</h1></button>
            <button class="navelement" id="navadam" ><h1>adam optimizer</h1></button>
        </div>
        <div id="restofpage">
            <div style="height:3vh;"></div>
            <h2>word2vec - learning!</h2>
            <div style="height:10vh;"></div>
            <h2>... someday</h2>
        </div>
        <script src="../scripts.js"></script>
    </body>
</html>