<!DOCTYPE html>
<html lang="en">
    <head>
        <title>word2vec - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" id="homenav" onclick="window.location='/'">
              <img src="assets/wpi_logo_transparent_white.png" alt="wpi logo2" class="nav-button-icon">
              <h1>visNLP 2.0 home</h1>
            </button>
            <button class="navelement-curr"   onclick="window.location='/w2v'"       ><h1>word2vec</h1></button>
            <button class="navelement"        onclick="window.location='/senback'"   ><h1>sen2vec</h1></button>
            <button class="navelement"        onclick="window.location='/paraback'"  ><h1>para2vec</h1></button>
            <button class="navelement"        onclick="window.location='/adam'"      ><h1>adam optimizer</h1></button>
            <button class="navelement"        onclick="window.location='/songback'"  ><h1>song2vec</h1></button>
            <button class="navelement"        onclick="window.location='/newsback'"  ><h1>Fake News App</h1></button>
        </div>
        <div id="sidebar">
            <button id="cbow_btn"></button>
            <button id="skip_btn"></button>
            <button id="prev_btn"></button>
            <button id="next_btn"></button>
            <p id="p1label"></p>
            <table id="param1"></table>
            <p id="p2label"></p>
            <table id="param2"></table>
            <p id="p3label"></p>
            <table id="param3"></table>
            <div id="diagram" style="display:none">
                <h5 id="cbow_input_label" class="diagram_labels">inputs:</h5>
                <table id="cbow_input_1" class="diagram"></table>
                <table id="cbow_input_2" class="diagram"></table>
                <h5 id="cbow_p1_label" class="diagram_labels">param 1:</h5>
                <table id="cbow_p1" class="diagram"></table>
                <h5 id="cbow_hidden_label" class="diagram_labels">hidden<br>layer:</h5>
                <table id="cbow_hidden" class="diagram">
                    <tr><td>Σ</td></tr>
                    <tr><td>Σ</td></tr>
                    <tr><td>Σ</td></tr>
                </table>
                <h5 id="cbow_p2_label" class="diagram_labels">param 2:</h5>
                <table id="cbow_p2" class="diagram"></table>
                <h5 id="cbow_output_label" class="diagram_labels">target<br>output:</h5>
                <table id="cbow_output" class="diagram"></table>
                <h1 id="diagram_label" class="diagram">word2vec architecture</h1>
            </div>
        </div>
        <div id="footer"></div>
        <div id="restofpage">
            <div style="height:3vh;"></div>
            <button id="back_btn">←</button>
            <button id="fwd_btn">→</button>
            <button id="adm_btn" onclick="window.location='/adam'"><h3>adam optimizer</h3></button>
            <div id="canv" data-mode="n/a"></div>
        </div>
        <script src="../scripts/word2vec.js" defer></script>
    </body>
</html>