<!DOCTYPE html>
<html lang="en">
    <head>
        <title>word2vec learning - visNLP</title>
        <link rel="stylesheet" href="../style.css"/>
    </head>
    <body>
        <div id="navbar">
            <button class="navelement" id="homenav" onclick="window.location='/'">
              <img src="assets/wpi_logo_transparent_white.png" alt="wpi logo2" class="nav-button-icon">
              <h1>VisNLP 2.0 Home</h1>
            </button>
            <button class="navelement-curr"   onclick="window.location='/w2v'"       ><h1>Word2Vec</h1></button>
            <button class="navelement"        onclick="window.location='/senback'"   ><h1>Sen2Vec</h1></button>
            <button class="navelement"        onclick="window.location='/paraback'"  ><h1>Para2Vec</h1></button>
            <button class="navelement"        onclick="window.location='/adam'"      ><h1>Adam Optimizer</h1></button>
            <button class="navelement"        onclick="window.location='/songback'"  ><h1>Songs Recs App</h1></button>
            <button class="navelement"        onclick="window.location='/news'"      ><h1>Fake News App</h1></button>
        </div>
        <div id="sidebar">
            <p id="p1label"></p>
            <table id="param1"></table>
            <p id="p2label"></p>
            <table id="param2"></table>
            <p id="p3label"></p>
            <table id="param3"></table>
        </div>
        <div id="footer"></div>
        <div id="restofpage">
            <div style="height:3vh;"></div>
            <button id="back_btn">←</button>
            <button id="fwd_btn">→</button>
            <button id="adm_btn" onclick="window.location='/adam'"><h3>adam optimizer</h3></button>
            <div id="canv" data-mode="n/a"></div>
        </div>
        <script src="../scripts/word2vec.js" defer></script>
    </body>
</html>