* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
}

h1 {
    font-size: 1.35vw;
    margin: auto;
    text-align: center;
}

h2 {
    margin: auto;
    text-align: center;
}

h3 {
    font-size: 1vw;
    margin: auto;
    text-align: center;
}

pre {
    font-size: 150%;
}
button { height: 7vh; width: 25vw; }
table {
    border-collapse: collapse;
    box-sizing: border-box;
    display: inline-block; 
    text-align: center;
}
td {
    background-color: #bbbbbb;
    border: solid 2px #000000;
}

#param1
{
    position: fixed;
    left: 0.75vw;
    top: 15vh;
}
#param2 {
    position: fixed;
    left: 0.75vw;
    top: 40vh;
}
#param3 {
    position: fixed;
    left: 0.75vw;
    top: 58vh;
}
#param1 td { height: 3vh; width: 7.5vw; }
#param2 td { height: 3vh; width: 4.5vw; }
#param3 td { height: 3vh; width: 4.5vw; }

#p1label {
    font-size: 2.25vh;
    left: 0.75vw;
    position: fixed;
    top: 10vh;
}
#p2label {
    font-size: 2.25vh;
    left: 0.75vw;
    position: fixed;
    top: 35vh;
}
#p3label {
    font-size: 2.25vh;
    left: 0.75vw;
    position: fixed;
    top: 53vh;
}

#back_btn {
    display: none;
    height: 5vh;
    position: fixed;
    right: 9.5vw;
    top: 9vh;
    width: 5vw;
    z-index: 2;
}

#canv {
    height: 77vh;
    position: fixed;
    right: 0px;
    text-align: center;
    top: 8vh;
    width: 75vw;
    z-index: 1;;
}
#canv_NSB {
    height: 77vh;
    position: fixed;
    text-align: center;
    top: 8vh;
    width: 100vw;
    z-index: 1;;
}
#canv_adam {
    height: 67vh;
    position: fixed;
    text-align: center;
    top: 8vh;
    width: 75vw;
    z-index: 1;
    font-family:'Segoe UI';
}
#canv_adam h3{
    color: rgb(0, 140, 255);
    font-size: 2vw;
}


#footer {
    background-color: lightgray;
    border-top: 1vh solid #000000;
    bottom: 0px;
    box-sizing: border-box;
    display: inline-flex;
    height: 15vh;
    position: fixed;
    right: 0px;
    width: 75vw;
}
#footer_NSB {
    background-color: lightgray;
    border-top: 1vh solid #000000;
    bottom: 0px;
    box-sizing: border-box;
    display: inline-flex;
    height: 15vh;
    position: fixed;
    right: 0px;
    width: 100vw;
}

#footer_adam {
    background-color: lightgray;
    border-top: 1vh solid #000000;
    bottom: 0px;
    box-sizing: border-box;
    height: 25vh;
    position: fixed;
    right: 0px;
    width: 74.8vw;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer_adam_desc{
    height: 70%;
    width: 100%;
    text-align: left;
    display: inline-block;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 1.5vw;
    padding-right: 1.5vw;
    box-sizing: border-box;
    font-size: 1.1vw;
}
.footer_adam_desc ol{
    padding-left: 2.5vw;
    padding-right: 1.5vw;
    padding-top: .5vh;
    font-weight: bold;
    font-size: 1.2vw;
}

.footer_adam_eq_container{
    height: 30%;
    width: 100%;
    display:inline-flex;
    background-color: rgb(61, 61, 61);
}

.footer_adam_eq_title{
    width: 50%;
    font-size: 1vw;
    display: inline-flex;
    color: white;
}

.footer_adam_eq{
    width: 50%;
    font-size: 1vw;
    display:inline-flex;
    color: white;
}

#fwd_btn {
    display: none;
    height: 5vh;
    position: fixed;
    right: 2.5vw;
    top: 9vh;
    width: 5vw;
    z-index: 2;
}

#adam_back_btn {
    display: none;
    height: 5vh;
    position: fixed;
    right: 23.5vw;
    top: 10vh;
    width: 5vw;
    z-index: 2;
}

#adam_fwd_btn {
    display: none;
    height: 5vh;
    position: fixed;
    right: 16.5vw;
    top: 10vh;
    width: 5vw;
    z-index: 2;
}

#adam_ff_btn {
    display: none;
    height: 5vh;
    position: fixed;
    right: 9.5vw;
    top: 10vh;
    width: 5vw;
    z-index: 2;
}

#adam_reset_btn {
    display: none;
    height: 5vh;
    position: fixed;
    right: 2.5vw;
    top: 10vh;
    width: 5vw;
    z-index: 2;
}


#meta {
    border-bottom: 0.25vh dashed #000000;
    border-right: 0.25vh dashed #000000;
    box-sizing: border-box;
    height: 10vh;
    left: 25vw;
    position: fixed;
    display: inline-grid;
    top: 8vh;
    width: 31.3vw;
}

#meta_adam {
    background-color: white;
    border-radius: 0 0 10px 0;
    border-bottom: 3px solid black;
    border-right: 3px solid black;
    height: 8vh;
    width: 12.2vw;
    left: 25.2vw;
    position: fixed;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#meta_adam_lower {
    background-color: white;
    border-radius: 0 10px 0 0;
    border-top: 3px solid black;
    border-right: 3px solid black;
    height: 8vh;
    width: 12.2vw;
    left: 25.2vw;
    top: 66.7vh;
    position: fixed;
    display: inline-block;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.meta_adam_class h4 {
    display: inline-block;
    color: black;
    font-size: 1vw;
    margin-top: 1.5vh;
    margin-left: 3px;
    margin-right: 1px;
}
.meta_adam_class h5 {
    display: inline-block;
    color: rgb(0, 140, 255);
    font-size: 2vw;
    margin-top: 1.5vh;
    margin-left: 2px;
    margin-right: 2px;
}
#meta_adam_progress_outline {
    background-color: white;
    border-top: 3px solid black;
    border-right: 3px solid black;
    height: 1vh;
    left: 37.6vw;
    width: 62.3vw;
    top: 73.7vh;
    /* left: 40vw; */
    position: fixed;
}
#meta_adam_progress_bar {
    background-color: rgb(0, 140, 255);
    height: 100%;
}

#meta_NSB {
    border-bottom: 0.25vh dashed #000000;
    border-right: 0.25vh dashed #000000;
    box-sizing: border-box;
    height: 10vh;
    left: 0px;
    position: fixed;
    display: inline-grid;
    top: 8vh;
    width: 25.05vw;
}

#navbar {
    top: 0px;
    display: flex;
    height: 8vh;
    position: fixed;
    width: 100vw;
}

#restofpage {
    background-color: whitesmoke;
    bottom: 15vh;
    height: 77vh;
    position: fixed;
    right: 0px;
    width: 75vw;
}

#restofpage_NSB {
    background-color: whitesmoke;
    bottom: 15vh;
    height: 77vh;
    position: fixed;
    right: 0px;
    width: 100vw;
}

#restofpage_adam {
    background-color: whitesmoke;
    bottom: 25vh;
    height: 67vh; 
    position: fixed;
    left: 25.2vw;
    width: 74vw;
}

#restofpage_home {
    font-family:'Segoe UI';
    background-color: whitesmoke;
    overflow: scroll;
    top: 8vh;
    left: 25.2vw;
    height: 92vh;
    position: fixed;
    width: 74vw;
}
#restofpage_home h1 {
    color: #8b0000;
    font-size: 2.3vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
#restofpage_home h2 {
    color: black;
    font-size: .95vw;
    font-weight: lighter;
    /* padding-top: 1.5vh; */
    padding-bottom: 1.5vh;
    text-align: center;
}
#restofpage_home h3 {
    color: black;
    font-size: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: center;
}
#restofpage_home p {
    color: black;
    font-size: 1vw;
    padding-bottom: 1vh;
}
#homepage_top_text {
    width: 80%;
    margin: auto;
    /* background-color: grey;
    border-radius: 10px; */
}

#restofpage_overview {
    font-family:'Segoe UI';
    background-color: whitesmoke;
    bottom: 0vh;
    height: 92vh; 
    position: fixed;
    left: 25.2vw;
    width: 74vw;
    overflow: scroll;
    box-sizing: border-box;
    padding-left: 2vw;
    padding-right: 2vw;
}
#restofpage_overview h1 {
    color: #8b0000;
    font-size: 3vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
}
#restofpage_overview h2 {
    color: black;
    font-size: 1.5vw;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    text-align: left;
}
#restofpage_overview p {
    color: black;
    font-size: 1vw;
    padding-bottom: 1vh;
}
#adam-overview-img {
    padding-left: 2vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
#restofpage_overview ul {
    font-size: 1vw;
    color: black;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-weight: bold;
}
#restofpage_overview li {
    color: black;
    padding-bottom: .5vh;
}

#sidebar {
    background-color: grey;
    border-right: 1vh solid #000000;
    bottom: 0px;
    box-sizing: border-box;
    display: inline-flex;
    left: 0px;
    height: 92vh;
    position: fixed;
    width: 25vw;
}

#sidebar_adam {
    background-color: grey;
    border-right: 1vh solid #000000;
    bottom: 0px;
    box-sizing: border-box;
    display: inline-block;
    left: 0px;
    height: 92vh;
    position: fixed;
    width: 25.2vw;
    padding: 10px;
}

#sidebar_NSB {
    background-color: grey;
    border-right: 1vh solid #000000;
    bottom: 0px;
    box-sizing: border-box;
    display: inline-flex;
    left: 0px;
    height: 92vh;
    position: fixed;
    width: 18.75vw;
}

#switch_newsvec_app_button {
    /* background-color:#49b293 ; */
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: flex-end;
}
#switch_newsvec_app_button:hover {
    background-color:white;
}

#switch_adam_button {
    /* background-color:#49b293 ; */
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: 100%;
    align-items: flex-end;
}
#switch_adam_button:hover {
    background-color:white;
}
.next-topic-button {
    color: rgb(0, 140, 255);
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: 49%;
}
.prev-topic-button {
    color: rgb(0, 140, 255);
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
    width: 49%;
}
.next-topic-button:hover {
    background-color: white;
}
.prev-topic-button:hover {
    background-color: white;
}

.navelement {
    background-color: #8b0000;
    border-bottom: 1vh solid #000000;
    border-left: 0.5vh solid #000000;
    border-right: 0.5vh solid #000000;
    border-top: 1vh solid #000000;
    box-sizing: border-box;
    color: whitesmoke;
    display: inline-flex;
    height: 100%;
    vertical-align: middle;
}

.navelement:hover {
    background-color: #8b3535;
}

.page-title {
    font-size: 200%;
    color: blue;
    padding: 1%;
}

.slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
}

.slides-container {
    height: calc(100vh - 2rem);
    width: 100%;
    display: flex;
    overflow: scroll;
    scroll-behavior: smooth;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slide-arrow {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 100ms;
}

.slide-arrow:hover,
.slide-arrow:focus {
    opacity: 1;
}

#slide-arrow-prev {
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}


#slide-arrow-next {
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
}

.slide:nth-child(1) {
    background-color: #49b293;
}

.slide:nth-child(2) {
    background-color: #b03532;
}

.slide:nth-child(3) {
    background-color: #6a478f;
    margin: 0;
}

.slide:nth-child(4) {
    background-color: #da6f2b;
}

.landing-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    /* temporary below - min 2 per row , max 4 per row */
    min-width: 520px;
    max-width: 1080px;
    margin: 0 auto;
}
  
.landing-button-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.landing-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #2e302d;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    width: 200px;
    height: 120px;
    transition: all 0.2s ease-in-out;
}

.landing-button:hover {
    background-color: #f5f4f0;
    color: #000;
}

.landing-button-text {
    font-size: 24px;
    margin-bottom: 10px;
}

.landing-button-description {
    display: none;
}

.landing-button:hover .landing-button-description {
    display: block;
}

.landing-title{
    color: blue;
    text-align: center;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    font-size: 30px;
}

.landing-desc{
    color: green;
    display: inline-block;
    text-align: center;
    font-family: Candara,Calibri,Segoe,Segoe UI,Optima,Arial,sans-serif;
    width: 100%;
}

#adam-main-content-container {
    padding: 20px;
    /* border: 2px dashed blue; */
    height: 44vh;
    position: relative;
}

/* define styles for table */
#adam-tensor-a {
    border-collapse: collapse;
    font-family: consolas;
    display: inline-block;
    width: auto;
}
  
/* define styles for table headers */
#adam-tensor-a th {
    border: 1px solid black;
}

/* define styles for table cells */
#adam-tensor-a td {
    border: 1px solid black;
    background-color: lightgreen;
    padding: 5px;
}

#sidebar-curr-param-container {
    padding: .6vw;
    padding-bottom: 0;
    /* border: 2px dashed yellow; */
}

#sidebar-first-moment-container {
    padding: .6vw;
    padding-bottom: 0;
    /* border: 2px dashed blue; */
}

#sidebar-second-moment-container {
    padding: .6vw;
    padding-bottom: 0;
    /* border: 2px dashed red; */
}

#sidebar-loss-plot {
    /* padding: .6vw; */
    margin: .3vw;
    /* border: 2px dashed pink; */
    height: 30vh;
    border-radius: 10px;
    overflow: hidden;
    border: 3px solid black;
}

/* SIDEBAR TENSOR STYLING */

#my-sidebar-container-1 {
    display: inline-block;
}
#my-sidebar-container-2 {
    display: inline-block;
    padding-left: .2vw;
}
#my-sidebar-container-3 {
    display: inline-block;
    padding-left: .2vw;
}

#my-sidebar-container-1-b {
    display: inline-block;
}
#my-sidebar-container-2-b {
    display: inline-block;
    padding-left: .2vw;
}
#my-sidebar-container-3-b {
    display: inline-block;
    padding-left: .2vw;
}

#my-sidebar-container-1-c {
    display: inline-block;
}
#my-sidebar-container-2-c {
    display: inline-block;
    padding-left: .2vw;
}
#my-sidebar-container-3-c {
    display: inline-block;
    padding-left: .2vw;
}

.generic-sidebar-table-class {
    display: inline-block;
    width: auto;
    font-family: consolas;
    font-size: .65vw;
    border: 1px solid rgb(255, 0, 76);
    background-color: whitesmoke;
} 
.generic-sidebar-table-class-b {
    display: inline-block;
    width: auto;
    font-family: consolas;
    font-size: .65vw;
    border: 1px solid rgb(0, 255, 85);
    background-color: whitesmoke;
} 
.generic-sidebar-table-class-c {
    display: inline-block;
    width: auto;
    font-family: consolas;
    font-size: .65vw;
    border: 1px solid rgb(0, 255, 242);
    background-color: whitesmoke;
} 
/* define styles for table cells */
.generic-sidebar-table-class td {
    border: 1px solid black;
    padding: .15vw;
}
.generic-sidebar-table-class-b td {
    border: 1px solid black;
    padding: .15vw;
}
.generic-sidebar-table-class-c td {
    border: 1px solid black;
    padding: .15vw;
}

#sidebar_curr_param_text_container {
    font-size: 1vw;
    color: white;
    font-family:'Segoe UI';
    text-align: center;
}
#sidebar_first_moment_text_container {
    font-size: 1vw;
    color: white;
    font-family:'Segoe UI';
    text-align: center;
}
#sidebar_second_moment_text_container{
    font-size: 1vw;
    color: white;
    font-family:'Segoe UI';
    text-align: center;
}
#sidebar-color-key-container{
    font-size: .7vw;
    color: white;
    font-family:'Segoe UI';
    text-align: center;

}
#sidebar-adam-eq-container {
    background-color: white;
    border: 3px solid black;
    border-radius: 10px;
    margin: .3vw;
    margin-bottom: 1vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-bottom: .3vh;
    padding-top: .3vh;
    font-size: 1.5vh;
}
#sidebar-adam-eq-container h1 {
    text-align: center;
    font-size: 1.5vh;
}

/* MAIN ADAMSTEP CANV TENSOR STYLING */
.generic-table-class {
    display: inline-block;
    width: auto;
    font-family: consolas;
    border: 1px solid black;
} 
/* define styles for table cells */
.generic-table-class td {
    border: 1px solid black;
    padding: .2vw;
    font-size: 1vw;
}

.generic-table-class-grid {
    display: inline-block;
    width: auto;
    font-family: consolas;
    border: 1px solid black;
} 
/* define styles for table cells */
.generic-table-class-grid td {
    border: 1px solid black;
    padding: .1vw;
    font-size: .75vw;
}

#my-tensor-id {
    background-color: greenyellow;
}
#my-tensor-id-2 {
    background-color: cyan;
}
#my-tensor-id-3 {
    background-color: pink;
}
#my-tensor-id-4 {
    background-color: yellow;
}
#my-tensor-id-5 {
    background-color: rgb(155, 216, 155);
}
#my-tensor-id-6 {
    background-color: rgb(152, 201, 120);
}
#my-tensor-id-7 {
    background-color: rgb(118, 187, 109);
}
#my-tensor-id-8 {
    background-color: rgb(129, 209, 104);
}
#my-tensor-id-9 {
    background-color: rgb(143, 207, 113);
}

/* single row adam main canv styling */
#my-table-container-1 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-2 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-3 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-4 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-5 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 55%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-6 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-7 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-8 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 70%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-9 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-10 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 42%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-11 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 58%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-12 {
    position: absolute;
    background-color: rgb(0, 140, 255);
    left: 80%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#my-table-container-g1 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 28%;
    top: 18%;
    transform: translate(-50%, -50%);
}
#my-table-container-g2 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 48%;
    top: 18%;
    transform: translate(-50%, -50%);
}
#my-table-container-g3 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 64%;
    top: 18%;
    transform: translate(-50%, -50%);
}
#my-table-container-g4 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 28%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-g5 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 48%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-g6 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 64%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#my-table-container-g7 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 28%;
    top: 82%;
    transform: translate(-50%, -50%);
}
#my-table-container-g8 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 48%;
    top: 82%;
    transform: translate(-50%, -50%);
}
#my-table-container-g9 {
    background-color: rgb(0, 140, 255);
    position: absolute;
    left: 64%;
    top: 82%;
    transform: translate(-50%, -50%);
}

#operationContainer-1 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 35%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-2 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 65%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-3 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-4 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 34%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-5 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-6 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 66%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-g1 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 15%;
    top: 33%;
    transform: translate(-50%, -50%);
}
#operationContainer-g2 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#operationContainer-g3 {
    position: absolute;
    /* border: 1px dashed blue; */
    left: 15%;
    top: 66%;
    transform: translate(-50%, -50%);
}


#tableTitleContainer-1 {
    position: absolute;
    font-family:'Segoe UI';
    left: 20%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-2 {
    position: absolute;
    font-family:'Segoe UI';
    left: 50%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-3 {
    font-family:'Segoe UI';
    position: absolute;
    left: 80%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-4 {
    position: absolute;
    font-family:'Segoe UI';
    left: 35%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-5 {
    position: absolute;
    font-family:'Segoe UI';
    left: 55%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-6 {
    font-family:'Segoe UI';
    position: absolute;
    left: 70%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-7 {
    font-family:'Segoe UI';
    position: absolute;
    left: 30%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-8 {
    font-family:'Segoe UI';
    position: absolute;
    left: 70%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-9 {
    position: absolute;
    font-family:'Segoe UI';
    left: 20%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-10 {
    font-family:'Segoe UI';
    position: absolute;
    left: 42%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-11 {
    font-family:'Segoe UI';
    position: absolute;
    left: 58%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-12 {
    font-family:'Segoe UI';
    position: absolute;
    left: 80%;
    top: 27%;
    transform: translate(-50%, -50%);
}
#tableTitleContainer-g1 {
    color: rgb(255, 0, 76);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 36%;
    top: 5%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g2 {
    color: rgb(0, 255, 85);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 56%;
    top: 5%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g3 {
    color: rgb(0, 255, 242);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 68%;
    top: 5%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g4 {
    color: rgb(255, 0, 76);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 36%;
    top: 37%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g5 {
    color: rgb(0, 255, 85);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 56%;
    top: 37%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g6 {
    color: rgb(0, 255, 242);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 68%;
    top: 37%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g7 {
    color: rgb(255, 0, 76);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 36%;
    top: 69%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g8 {
    color: rgb(0, 255, 85);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 56%;
    top: 69%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-g9 {
    color: rgb(0, 255, 242);
    font-size: .7vw;
    font-family:'Segoe UI';
    position: absolute;
    left: 68%;
    top: 69%;
    transform: translate(-50%, 0%);
}
#tableTitleContainer-d1 {
    /* background-color: rgb(0, 255, 136); */
    font-family:'Segoe UI';
    position: absolute;
    left: 70%;
    top: 18%;
    transform: translate(0%, -50%);
}
#tableTitleContainer-d2 {
    /* background-color: rgb(0, 255, 136); */
    font-family:'Segoe UI';
    position: absolute;
    left: 70%;
    top: 50%;
    transform: translate(0%, -50%);
}
#tableTitleContainer-d3 {
    /* background-color: rgb(0, 255, 136); */
    font-family:'Segoe UI';
    position: absolute;
    left: 70%;
    top: 82%;
    transform: translate(0%, -50%);
}
#tableTitleContainer-d4 {
    /* background-color: rgb(0, 255, 136); */
    font-family:'Segoe UI';
    position: absolute;
    left: 23%;
    top: 49.5%;
    transform: translate(0%, -50%);
}
#tableTitleContainer-d5 {
    /* background-color: rgb(0, 255, 136); */
    font-family:'Segoe UI';
    position: absolute;
    left: 31%;
    top: 49.5%;
    transform: translate(0%, -50%);
}
