* { margin: 0; padding: 0; }
body { overflow: hidden; }
h1
{
    margin: auto;
}
#navbar
{
    top: 0px;
    height: 8vh;
    position: fixed;
    width: 100vw;
}
#restofpage
{
    background-color: lightgrey;
    bottom: 0px;
    height: 92vh;
    position: fixed;
    width: 100vw;
}
.navelement
{
    background-color: darkred;
    border-width: 5px;
    border-color: black;
    color: whitesmoke;
    display: inline-block;
    height: 100%;
    text-align: middle;
    vertical-align: middle;
    width: 19.7vw;
}